h3.drop-down-invisible + ul {
  opacity: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: grey;
  height: 5rem;
}

ul {
  list-style: none;
  background-color: grey;
}

li {
  font-size: 1.3rem;
  margin: 1rem;
}
